@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ProductInsight.Models
@model SettingsModel
@{

    var curUser = new ApplicationUser();
    if (User.Identity.IsAuthenticated)
    {
        var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
        var manager = new UserManager<ApplicationUser>(userStore);
        curUser = manager.FindById(User.Identity.GetUserId());
    }
    Layout = "~/Views/Portal/_Layout.cshtml";
}

    <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Overview
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href='@Url.Action("Index","Portal")'>Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Overview
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-3">
          <div class="form-group">
              <label>ProductID </label>
              <input id="ProductID" value="ALL" class="form-control">
          </div>
      </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Rating </label>
                <div class="row">
                  <div class="col-lg-6">
                      <input id="RatingL" value="0.0" class="form-control">
                  </div>
                   <div class="col-lg-6 col-lg-pull-1">
                       <input id="RatingR" value="5.0" class="form-control">
                   </div>
     
                </div>
           
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Score </label>
                <div class="row">
                    <div class="col-lg-6">
                        <input id="ScoreL" value="0.0" class="form-control">
                    </div>
                    <div class="col-lg-6 col-lg-pull-1">
                        <input id="ScoreR" value="5.0" class="form-control">
                    </div>

                </div>

            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Upvotes ( >= ) </label>
                <input id="Upvotes" value="0" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Downvotes ( >= ) </label>
                <input id="Downvotes" value="0" class="form-control">
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
               <br/>
                <input type="submit" id="btnGo" value="Go" class="btn btn-primary" /> 
                <img src="../Images/loading.gif" id="gifloader" class="loading hidden" />
            </div>
        </div>
     </div>
     <!-- /.row -->
        <div class="row" id="ProductInsights">
            <div class="alert-info alert alert-dismissible" role="alert">
                There are no results to display. Enter the details above and hit Go!
            </div>
        </div>
   
    </div>
    

    <script>
        var url = '@Url.Action("OverviewSearch", "Portal")';
        $('#btnGo').click(function () {
            $("#gifloader").removeClass("hidden");
            $("#btnGo").addClass("hidden");

            $('#ProductInsights').load(url, {
                ProductID: $("#ProductID").val(), 
                RatingL: $("#RatingL").val(), 
                RatingR: $("#RatingR").val(),
                ScoreL: $("#ScoreL").val(),
                ScoreR: $("#ScoreR").val(),
                Upvotes: $("#Upvotes").val(),
                Downvotes: $("#Downvotes").val()
            }, function () {
                $("#gifloader").addClass("hidden");
                $("#btnGo").removeClass("hidden");
            });
        });
    </script>
        <!-- /.container-fluid -->
